{% extends 'admin/admin_base.html.twig' %}


    {% block main %}


        <div class="container-list">

            <div class="title-list">
                <h2>Nombre de catégories dans la base de données : {{ categories | length }}</h2>
                <p>Cliquez sur une catégorie pour voir les articles qui y sont liés.</p>
            </div>

            <div class="list">
                {% for category in categories %}
                    <article>
                        <a href={{ path('front_category_show', {'id': category.id} ) }}>

                            <h3>{{ category.title }}</h3>

                        </a>
                        <a href="{{ path('admin_category_delete', {'id': category.id }) }}">Supprimer</a>
                        <a href="{{ path('admin_category_update', {'id': category.id }) }}">Mettre à jour (hardcodé)</a>
                    </article>
                {% endfor %}
            </div>
            <div class="insert-button">

                <button>
                    <a href="{{ path('admin_category_insert') }}">Ajouter une catégorie (hardcodé)</a>
                </button>

            </div>
        </div>

    {% endblock main %}